@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


.font-mont {
    font-family: 'Montserrat', sans-serif;
}

.font-mont-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    /* font-size: 50px; */ 
  }

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
    box-shadow: 3px 0 6px grey;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.log-in-strip {
    /* background-color: rgb(255, 255, 255); */
    /* width: 100%; */
    margin: 0 0 5px 0;
    
    
    height: 15px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    
    
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
    background: rgb(93, 22, 169);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 150px;
    height: 15%;
}

.example-icon {
    flex: 1 1 auto;
    text-align: end;
}

.material-icons.home:focus {
    flex: 1 1 auto;
    text-align: end;
    outline: none;
}

.material-icons.home {
    flex: 1 1 auto;
    text-align: end;
}

.material-icons.deeppurple {
    color: rgb(104, 4, 143);
}

.img-responsive.img-size {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin: 10px;
    border: 1px solid rgb(104, 4, 143);
}

.material-icons.edit {
    color: rgb(104, 4, 143);
}

li {
    cursor: pointer;
}

.material-icons,
.musix {
    cursor: pointer;
    flex: 1 1 auto;
    text-align: center;
}

.musix-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    background: -webkit-linear-gradient(top right, rgb(255, 255, 255),rgb(214, 106, 209) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.home:hover+.hide {
    display: block;
    color: white;
}

.home {
    width: 15vw;
    
}

.but2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    font-size: large;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hide {
    display: block;
    cursor: pointer;
}

.myDIV:hover+.hide {
    display: block;
    color: white;
    cursor: pointer;
}