.background {
    /* image url  */
    background-image: url("../../assets/images/home-background.jpeg");
    background-attachment: fixed;
  
    /* make the image full height */
    /* height: 100%; */
  
    /* center and scale the image */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* use the following only if if you are able to scroll past the image to see a white area (this is the <body> peeking out) above or below the image */
    overflow: hidden;
  }

.heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: white;
    /* background: -webkit-linear-gradient(top right, rgb(242, 140, 237), rgb(255, 255, 255)); */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.btn-group button {
    background-color: rgb(93, 22, 169);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid rgb(93, 22, 169);
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    font-size: medium;

  }

  .btn-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    /* font-size: 50px; */ 
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #ffffff;
    color: black;
  }
  .search-container {
    margin: 20px auto;
    width: 100%;
    text-align: center;
}

.card-container {
    margin: 20px auto;
    width: 100%;
    text-align: center;
}

.mat-typography {
    background-color: #000000;
}

.mat-toolbar {
    background-color: #000000de;
    
}
.mat-toolbar.span {
    color: #ffffff;
}
h1{
    text-align: center;
}
.search-container {
    margin: 20px auto;
    width: 100%;
    text-align: center;
    
}

.card-container {
    margin: 20px auto;
    width: 100%;
    text-align: center;
}

.mat-typography {
    background-color: #000000;
}

.mat-toolbar {
    background-color: #000000de;
    
}
.mat-toolbar span {
    color: #ffffff;
}
.noteCard{
    width:20vw;
    margin:20px;
    border:2px solid rgb(207, 143, 233);
    display: flex;
    flex-direction: column;
}
.card-container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    grid-column: 1 / span 2;
    /* padding-left: 200px; */
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    
}
mat-card{
    margin: 40px;
    padding:20px;
    position: relative;
    border-radius: 11px;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}
mat-icon{
    position: absolute;
    top: 0;
    right: 0;
}
.icon-actions{
    position: relative;
    cursor: pointer;
}
.icon-edit{
    position: absolute;
    bottom: 35px;
    right: 20px;
    cursor: pointer;
}


.form-control{
    color: cornsilk;
    padding: 10px;
    margin: 10px;
    width:25vw;
    color:black;
    float: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    border-radius: 11px;
}

.material-icons{
    color: rgb(92, 85, 99); 
  }

  mat-card{
      background-color:rgb(234, 216, 241);
      
   /* filter: blur(8px);
  -webkit-filter: blur(8px); */

  height: 100%; 
  } 

  .keep-c-toggle-view{
    text-align: center;  /* For Edge */
    text-align-last: right;
    padding: 5px;
  }

  .addtofav{
    background-color: rgb(115, 72, 162); 
    padding: 5px;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 11px;
  }
  mat-accordion{
      margin: 10px;
  }
  .song-center{
    text-align: justify;  /* For Edge */
    text-align: center;
    padding: 5px;
  }
  h1{
      text-align: center;
  }
  
/* img {
    width: 100%;
    height: 150px;
    object-fit: cover;
} */
.mat-form-field {
    width: 380px;
}

mat-form-field.mat-form-field-outline {
        background-color: #fff;
    }

    .form-control{
        color: cornsilk;
        padding: 10px;
        margin: 10px;
        width:25vw;
        color:black;
        float: right;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
        border-radius: 11px;
    }
    
    .hide {
        display: none;
      }
      
      .myDIV:hover + .hide {
        display: block;
        color: rgb(115, 72, 162);
      }

      .hide1 {
        display: none;
      }
      
      .myDIV1:hover + .hide1 {
        display: block;
        color: rgb(115, 72, 162);
      }
